
body
{
    font-size: medium;
    /* font-size:10px; */
    width: 80%;
    margin:auto;
    background-color: #e3bf11;

}








.container {
    background-color: white;

}

.top-bar {
    display: flex;
    padding: 20px 11px 20px;
}

.top-bar-right {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    padding: 0px 415px ;

}
.top-bar-right ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.top-bar-right li {
    flex-grow: 1; /* Permet aux éléments de croître pour occuper l'espace disponible */
    text-align: center; /* Centre le texte dans chaque élément */
    white-space: nowrap; /* Empêche le retour à la ligne */
}

.top-bar-left img:first-of-type {
    width: 250px; /* Ajuste la largeur selon vos besoins */
}



.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 5px;
}

/*classe flexbox permettant de placer à droite le "submit" boutton*/
.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
    background-color: #e3bf11;

}


















.menu
{
    padding: 25px 50px 0px;
    color: #ffffff;
    background-color: #6a6262; /* Couleur de fond sombre */

}


a
{
    text-decoration: none;
    color:black;
}

div#txt
{
    float:right;
    width:5cm;
    background-color: red;
}

header h1
{
    font-family: Arial, sans-serif;
    font-size:large;
}


header div.button_bar
{
    background-color:Cornsilk ;
}

header div.search_bar
{
    text-align:right;
    background-color:red ;
}


div.login
{
    float:right;
    /* background-color:white; */
}

div.produit
{
    background-color:white;
    border:blue 2px solid;
    width:6cm;
    height:5.5cm;
    float:left;
    margin:1mm;
    padding:1mm;
    /* overflow-y:scroll;  */
}

main article.main_article
{
    background-color:white;
    border:green 2px solid;
    width:20cm;
    margin:auto;
    padding:1mm;
}

main article.main_article img
{
    width:100%;
}


article.breaking
{
    background-color:white;
    border:blue 2px solid;
    width:10cm;
    /*height:7cm;*/
    float:left;
    margin:1mm;
    padding:1mm;
    /* overflow-y:scroll;  */
}

article.breaking img
{
    width:100%;
}

aside
{
    float:right;
    width:10cm;
    margin:1mm;
    padding:1mm;
}

article.side
{
    background-color:white;
    border:blue 2px solid;
    width:100%;
    margin:1mm;
    padding:1mm;
}

div.produit div.formule
{
    font-weight:bold;
}

div.produit ul li
{
}

div.produit .prix
{
    background-color:lightgreen;
}

div.produit .activation
{
    background-color:yellow;
}

div.produit .in_cart
{
    /* background-color:plum; */
    color:DarkMagenta;
    font-weight:bold;
}

div.recap table
{
    border:blue 1px solid;
    margin:2px;
    padding:2px;
}

div.recap td
{
    background-color:whitesmoke;
    margin:0;
    padding:2px;
    border-width: 1px 0;
    border-color:blue;
}

div.recap td.total ,
div.recap th.total
{
    border-top: blue 2px solid;
    border-bottom: blue 2px solid;
    margin:2px;
    padding:2px;
    font-weight:bold;
}

div.recap td.prix
{
    font-family: Courier, monospace ;
    text-align: right;
    background-color: lightpink;

}

hr
{

    clear: both;

}

header
{
    background-color: #6a6262; /* Couleur de fond sombre */
    padding: 0px 0px 20px;
    font-size: 1em;

}

footer img
{
    width: 40px;
    height: 30px;

}

/* Menu */
ul.menu
{
    padding:0;
    margin:0;
    list-style-type:none;
    /*text-align:right;*/

}

ul.menu li
{

    display:inline-block;
    text-decoration:none;
    padding:500px;

}

main section.breaking article
{
    background-color: lightpink;
}

main section.other article
{
    background-color: lightgray;
}

main section.breaking article h1,
main section.article article h1,
main section.other article h1
{
    font-size:16px;
}

main section.breaking article h2,
main section.article article h2
{
    font-size:14px;
}

main section.article
{
    font-size:12px;
}

div.media_article img
{
    width:600px;
}
















/* Début Footer */
.footer {
    background-color: #6a6262; /* Couleur de fond sombre */
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre les éléments horizontalement */
}

.footer-section {
    min-width: 200px;
    margin: 0 2%; /* Réduit l'espace entre les colonnes et l'exprime en pourcentage */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

hr {
    border: 0;
     border-top: 1px solid #444; /* Couleur de la ligne horizontale */
    width: 100%;
    margin: 20px 0;
}
